# Future Power Consumption for Canada and USA

## ETL

***

## Data Explanation

Two different datasets are used in this project and both of them are obtained from Kaggle.   
The Datasets are as followes:   
**1. Global Electricity Statistics (1980-2021):**   
> https://www.kaggle.com/datasets/akhiljethwa/global-electricity-statistics   
The dataset represents yearly contrywise electricity measurement of 7 different metrics from 1980-2021.            
    1. **Net Generation (billion kWh):** Electricity generation/production   
    2. **Net Consumption (billion kWh):** Electricity consumption   
    3. **Imports (billion kWh):** Electricity imports   
    4. **Exports (billion kWh):** Electricity exports   
    5. **Net Imports (billion kWh):** Electricity net imports   
    6. **Installed Capacity (million kW):** The maximum amount of electricity that a generating station (also known as a power plant) can produce under specific conditions designated by the manufacturer   
    7. **Distribution Losses (billion kWh):** Transmission and distribution losses refer to the losses that occur in                       transmission of electricity between the sources of supply and points of distribution.   
        
**2. World Population by Country:**
> https://www.kaggle.com/datasets/rajkumarpandey02/2023-world-population-by-country   
  Contrywise population with metrics like net change and population growth rate which can be used to predict future               electricity requirements.

**Importing Libararies**

In [1]:
# For Data Analysis
import numpy as np
import pandas as pd

# For Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio
import ipywidgets
from ipywidgets import interact, interactive, widgets, HBox, fixed
from IPython.display import HTML
import warnings
from pandas.plotting import register_matplotlib_converters

# Aditional import
import datetime
import os

In [2]:
warnings.filterwarnings('ignore')
layout = widgets.Layout(width = '400px', height = '30px')
pio.templates.default = "plotly_white"
%matplotlib inline

**Loading the Data**

In [4]:
# Loading both Datasets for Electricity statistics and population
df_electricity = pd.read_csv(r"data\Global Electricity Statistics.csv")
df_population = pd.read_csv(r"data\countries-table.csv")

**Data Cleaning**

It was found during the data exploration that The data contains some white spaces in the Country Column.  
So first task is to correct that and findout if thats the case for other attributes as well.

In [5]:
df_electricity['Country'].values

array(['        Algeria', '        Angola', '        Benin', ...,
       '        U.S. Virgin Islands', '        Uruguay',
       '        Venezuela'], dtype=object)

In [10]:
# Assuming that whitespaces are present in all the columns itterating over the coulmns and removing the whitespace

# Itterating over the columns for electricity dataset
for col in df_electricity.columns:
    # Checking if the attribute is of string type
    if df_electricity[col].dtype == 'object':
        df_electricity[col] = df_electricity[col].str.strip()

In [11]:
# Checking for the results
df_electricity['Country'].values

array(['Algeria', 'Angola', 'Benin', ..., 'U.S. Virgin Islands',
       'Uruguay', 'Venezuela'], dtype=object)

Filtering the data for Only Canada and USA

In [12]:
df_electricity_filtered = df_electricity[(df_electricity['Country'] == 'United States') | (df_electricity['Country'] == 'Canada')]

In [13]:
df_electricity_filtered.head()

,Country,Features,Region,1980,1981,1982,1983,1984,1985,1986,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
179,Canada,net generation,North America,367.797,380.221,378.43,397.358,426.983,447.981,457.507,...,612.174504,637.650107,635.978212,638.850534,644.788913,644.58814,635.7934577,627.8128689,623.9828667,625.8546594
184,United States,net generation,North America,2289.600364,2297.973338,2244.372487,2313.445686,2419.465367,2473.00212,2490.470952,...,4054.26169,4074.145289,4104.796801,4092.85304,4096.386172,4059.433178,4210.526978,4165.531327,4051.289226,4164.564719
409,Canada,net consumption,North America,309.4796186,319.0600113,319.1662899,331.6464341,356.7081734,372.3747488,389.3921382,...,539.186083,560.744571,559.348308,543.406076,548.451276,547.034675,554.0621157,547.2500179,533.5070587,554.7443874
414,United States,net consumption,North America,2094.449,2147.102862,2086.441352,2150.954584,2285.796394,2323.973852,2368.753052,...,3838.802726,3876.510978,3914.50681,3914.299176,3921.110699,3888.305645,4032.628267,3989.378249,3897.894198,3979.279761
639,Canada,imports,North America,4.399618632,3.278011265,7.458289863,3.641434106,1.252173376,1.427748792,3.69713819,...,10.88722,11.370751,12.120716,10.770966,9.302534,9.893296,13.194693,13.334136,9.811685,10.067376

Now before creating a cleaned electricity dafaframe, checking for the following things  
- **Missing Values**
- **Duplicate entries**
- **Correcting to appropriated datatypes**
- **Dummy Values**

In [17]:
# Checking for missing values
df_electricity_filtered.isnull().sum()

Country     0
Features    0
Region      0
1980        0
1981        0
1982        0
1983        0
1984        0
1985        0
1986        0
1987        0
1988        0
1989        0
1990        0
1991        0
1992        0
1993        0
1994        0
1995        0
1996        0
1997        0
1998        0
1999        0
2000        0
2001        0
2002        0
2003        0
2004        0
2005        0
2006        0
2007        0
2008        0
2009        0
2010        0
2011        0
2012        0
2013        0
2014        0
2015        0
2016        0
2017        0
2018        0
2019        0
2020        0
2021        0
dtype: int64

No missing values or null values found!  
Checking for **Duplicate Values**

In [19]:
df_electricity_filtered.drop_duplicates(inplace = True)

In [23]:
# checking the datatype of all the attributes
df_electricity_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 179 to 1564
Data columns (total 45 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Country   14 non-null     object
 1   Features  14 non-null     object
 2   Region    14 non-null     object
 3   1980      14 non-null     object
 4   1981      14 non-null     object
 5   1982      14 non-null     object
 6   1983      14 non-null     object
 7   1984      14 non-null     object
 8   1985      14 non-null     object
 9   1986      14 non-null     object
 10  1987      14 non-null     object
 11  1988      14 non-null     object
 12  1989      14 non-null     object
 13  1990      14 non-null     object
 14  1991      14 non-null     object
 15  1992      14 non-null     object
 16  1993      14 non-null     object
 17  1994      14 non-null     object
 18  1995      14 non-null     object
 19  1996      14 non-null     object
 20  1997      14 non-null     object
 21  1998      14 non-null     object
 22  1999      14 non-null     object
 23  2000      14 non-null     object
 24  2001      14 non-null     object
 25  2002      14 non-null     object
 26  2003      14 non-null     object
 27  2004      14 non-null     object
 28  2005      14 non-null     object
 29  2006      14 non-null     object
 30  2007      14 non-null     object
 31  2008      14 non-null     object
 32  2009      14 non-null     object
 33  2010      14 non-null     object
 34  2011      14 non-null     object
 35  2012      14 non-null     object
 36  2013      14 non-null     object
 37  2014      14 non-null     object
 38  2015      14 non-null     object
 39  2016      14 non-null     object
 40  2017      14 non-null     object
 41  2018      14 non-null     object
 42  2019      14 non-null     object
 43  2020      14 non-null     object
 44  2021      14 non-null     object
dtypes: object(45)
memory usage: 5.0+ KB

In [25]:
# Since all are object data types changing them to appropriate datatypes
for idx, col in enumerate(df_electricity_filtered.columns):
    if idx < 3:
        df_electricity_filtered[col] = df_electricity_filtered[col].astype(str)
    else:
        df_electricity_filtered[col] = df_electricity_filtered[col].astype(float)

In [29]:
df_electricity_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 179 to 1564
Data columns (total 45 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Country   14 non-null     object
 1   Features  14 non-null     object
 2   Region    14 non-null     object
 3   1980      14 non-null     float64
 4   1981      14 non-null     float64
 5   1982      14 non-null     float64
 6   1983      14 non-null     float64
 7   1984      14 non-null     float64
 8   1985      14 non-null     float64
 9   1986      14 non-null     float64
 10  1987      14 non-null     float64
 11  1988      14 non-null     float64
 12  1989      14 non-null     float64
 13  1990      14 non-null     float64
 14  1991      14 non-null     float64
 15  1992      14 non-null     float64
 16  1993      14 non-null     float64
 17  1994      14 non-null     float64
 18  1995      14 non-null     float64
 19  1996      14 non-null     float64
 20  1997      14 non-null     float64
 21  1998      14 non-null     float64
 22  1999      14 non-null     float64
 23  2000      14 non-null     float64
 24  2001      14 non-null     float64
 25  2002      14 non-null     float64
 26  2003      14 non-null     float64
 27  2004      14 non-null     float64
 28  2005      14 non-null     float64
 29  2006      14 non-null     float64
 30  2007      14 non-null     float64
 31  2008      14 non-null     float64
 32  2009      14 non-null     float64
 33  2010      14 non-null     float64
 34  2011      14 non-null     float64
 35  2012      14 non-null     float64
 36  2013      14 non-null     float64
 37  2014      14 non-null     float64
 38  2015      14 non-null     float64
 39  2016      14 non-null     float64
 40  2017      14 non-null     float64
 41  2018      14 non-null     float64
 42  2019      14 non-null     float64
 43  2020      14 non-null     float64
 44  2021      14 non-null     float64
dtypes: float64(42), object(3)
memory usage: 5.0+ KB

Data changed and there are no null values so possibility of dummy values for the filtered data is pretty less.   
Thus directly converting the dataframe to csv file for further data exploration

In [30]:
df_electricity_filtered.to_csv('cleaned_filtered_electricity_data.csv', index=False)

In [31]:
df_population.head()

,country,rank,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050
0,India,1,3287590.0,2973190.0,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,356,696828385,1059633675,1240613620,1417173173,1428627663,1514994080,1670490596
1,China,2,9706961.0,9424702.9,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,156,982372466,1264099069,1348191368,1425887337,1425671352,1415605906,1312636325
2,United States,3,9372610.0,9147420.0,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,840,223140018,282398554,311182845,338289857,339996563,352162301,375391963
3,Indonesia,4,1904569.0,1877519.0,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,360,148177096,214072421,244016173,275501339,277534122,292150100,317225213
4,Pakistan,5,881912.0,770880.0,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,586,80624057,154369924,194454498,235824862,240485658,274029836,367808468

In [37]:
# renaming the attributes to allign with out electricity data
df_population = df_population.rename(columns = {'country': 'Country'})
for col in df_population.columns:
    if 'pop' in col:
        new_name = col[3:]
        df_population = df_population.rename(columns = {col: new_name})

In [45]:
df_population.head()

,Country,rank,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,place,1980,2000,2010,2022,2023,2030,2050
0,India,1,3287590.0,2973190.0,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,356,696828385,1059633675,1240613620,1417173173,1428627663,1514994080,1670490596
1,China,2,9706961.0,9424702.9,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,156,982372466,1264099069,1348191368,1425887337,1425671352,1415605906,1312636325
2,United States,3,9372610.0,9147420.0,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,840,223140018,282398554,311182845,338289857,339996563,352162301,375391963
3,Indonesia,4,1904569.0,1877519.0,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,360,148177096,214072421,244016173,275501339,277534122,292150100,317225213
4,Pakistan,5,881912.0,770880.0,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,586,80624057,154369924,194454498,235824862,240485658,274029836,367808468

Gathering all the required columns and deleting the others

In [39]:
df_population_new = df_population[["Country", "growthRate", "netChange", "1980", "2000", "2010", "2022", "2023", "2030", "2050"]]

In [42]:
df_population_filtered = df_population_new[(df_population_new['Country'] == 'United States') | (df_population_new['Country'] == 'Canada')]

In [43]:
df_population_filtered.head()

,Country,growthRate,netChange,1980,2000,2010,2022,2023,2030,2050
2,United States,0.0050,0.0581,223140018,282398554,311182845,338289857,339996563,352162301,375391963
37,Canada,0.0085,0.0104,24511510,30683313,33963412,38454327,38781291,41008596,45890819

In [46]:
df_population_filtered.to_csv('cleaned_filtered_population_data.csv', index=False)